/* Container for the FAQ section */
.faq-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.faq-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.faq-container p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Styles for the FAQ list */
.faq-list {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.faq-background{
    background-image: url('../../flight.jpeg');
    background-size: cover;
}
.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
    border-bottom: none;
}

/* FAQ question styling */
.faq-question {
    padding: 15px 20px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.faq-question:hover {
    background-color: #eaeaea;
}

.faq-question span {
    font-size: 20px;
    color: #007bff;
}

/* FAQ answer styling */
.faq-answer {
    padding: 15px 20px;
    background-color: #fff;
    font-size: 14px;
    color: #555;
}
