@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 18px;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.container:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.container > h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-weight: 700;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}


.container input {
  margin-top: 10px;
  width: 100%;
  font-style: normal;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #e0e0e0ad;
  transition: border-color 0.3s ease;
}

.container input:focus {
  border-color: #4158D0;
  background-color: #ffffffd2;
  outline: none;
}
.container input:focus::placeholder{
  font-style: normal;
  color: transparent;
} 



button {background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)}
button {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-style: none;
   border-radius: 10px;
   display: block;
 }

 button:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }



@media (max-height: 600px) {
  .container {
    padding: 20px;
  }
}

.eye{
  margin-top: 14px;
}

span{
  text-decoration: none;
  text-align: center;
}

.login-text, .signup-text{
  font-weight: 500;
  margin-left: 4px;
  text-decoration: none;
  color: #4a90f3;
}
